@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 3.2rem;
  --h1-font-size: 2.4rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.6rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1.3rem;
  --smaller-font-size: 1.2rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-0-8: 0.8rem;
  --mb-12: 1.2rem;
  --mb-16: 1.6rem;
  --mb-24: 2.4rem;
  --mb-32: 3.2rem;
  --mb-40: 4rem;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 5.6rem;
    --h1-font-size: 3.6rem;
    --h2-font-size: 2.4rem;
    --h3-font-size: 2rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.4rem;
    --smaller-font-size: 1.3rem;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  margin: 2rem 0;
  text-wrap: balance;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  display: block;
}

* {
  min-width: 0;
  font: inherit;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.credit-amount {
  background-color: #daebff;
  padding: 3rem 2rem;
  border-radius: 1.5rem;
  background-image: url("coin.png");
  background-size: 7rem;
  background-repeat: no-repeat;
  background-position: 85% 50%;
}

.credit-amount__title {
  margin: 0;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-0-8);
  color: rgb(173, 173, 173);
}

.credit-amount__price {
  margin: 0;
  font-size: 2.5rem;
  font-weight: var(--font-medium);
}
